body {
  background-color: rgba(39, 133, 75, 0.29); 
}

#introductieh5{ 
  background-color: rgba(128, 167, 61, 0.684);
  border: black;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 20px;
  width: 50%;
}

#kleurmodeluitleg1{
background-color:rgba(128, 167, 61, 0.684) ;
border: black;
border-radius: 10px;
color: white;
margin: 10px;
padding: 20px;
width: 75%;
}

#kleurmodeluitleg2{
background-color: rgba(128, 167, 61, 0.59);
border: black;
border-radius: 10px;
color: white;
margin: 30px;
padding: 20px;
width: 60%;
}



#tafeltennisimg{
float: right;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #30938486;
  border-radius: 30px;
  
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgba(128, 167, 61, 0.684);
  color: white;
  border-radius: 30px;
}


#inleidingparagraaf{

margin: 20px;
background-color: rgba(128, 167, 61, 0.684);
border: black;
border-radius: 10px;
color: white;
padding: 20px;
width: 50%;
}


#visGIF{
float: left;
margin: 10px;
}

#RGBimg{
float: right;
margin: 5px;
}