body {
  background-color: rgba(39, 133, 75, 0.29); 
}

#introductieh5{ 
  background-color: rgba(128, 167, 61, 0.684);
  border: black;
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 50%;
}

#kleurmodeluitleg1{
background-color:rgba(128, 167, 61, 0.684) ;
border: black;
border-radius: 10px;
color: white;
margin: 10px;
padding: 20px;
width: 75%;
}

#kleurmodeluitleg2{
background-color: rgba(128, 167, 61, 0.59);
border: black;
border-radius: 10px;
color: white;
margin: 30px;
padding: 20px;
width: 75%;
}

#kleurmodeluitleg3{
background-color: rgba(111, 139, 63, 0.48);
border: black;
border-radius: 10px;
color: white;
margin: 30px;
padding: 20px;
width: 60%;
float: right;
}

#kleurmodeluitleg4{
background-color: rgba(111, 139, 63, 0.48);
border: black;
border-radius: 10px;
color: white;
margin: 15px;
padding: 10px;
width: 60%;
float: right;
}


#compressieuitleg1{
background-color: rgba(128, 167, 61, 0.59);
width: 75%;
border-radius: 10px;
border: black;
color: white;
margin: 30px;
padding: 20px;
}

#CMYmodel{
float: right;
position: calc(2231);
}


#tafeltennisimg{
float: right;
}



#resolutionimg{



}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #30938486;
  border-radius: 30px;
  
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgba(128, 167, 61, 0.684);
  color: white;
  border-radius: 30px;
  transition-duration: 750ms;
}

#startpaginamenuselectie :hover{
background-color: rgba(128, 167, 61, 0.684);
color: white;
border-radius: 20px;
transition-duration: 2s;
}

#inleidingparagraaf{

background-color: rgba(128, 167, 61, 0.684);
border: black;
border-radius: 10px;
color: white;
padding: 20px;
width: 50%;
}


#visGIF{
float: left;
margin: 10px;
}

#RGBimg{
float: left;
margin: 5px;
}

