body { /*Bepaalt de waarden van de achtergrond.*/
  background-color: rgba(39, 133, 75, 0.29); /*Bepaalt de kleur van het betreffende attribuut.*/
}


#box50{ /*id voor een afbeelding, tekst etc.*/
background-color: rgba(128, 167, 61, 0.684);
border: black; /*Geeft de rand van een box aan.*/
border-radius: 10px; /*Geeft de ronding van de rand van de box aan.*/
color: white; /*Kleur voor text in box.*/
padding: 20px; /*Ruimte tussen text en rand van box.*/
width: 50%; /*Hoeveer de box met tekst maximaal op het beeldscherm mag uitbreiden. 50% is tot de helft.*/
margin: 20px; /*Afstand tussen andere objecten.*/
}

#box75{
background-color: rgba(128, 167, 61, 0.684);
border: black;
border-radius: 10px;
color: white;
padding: 20px;
width: 75%;
margin: 20px;
}

#box60right{
background-color: rgba(128, 167, 61, 0.684);
border: black;
border-radius: 10px;
color: white;
padding: 20px;
width: 60%;
margin: 20px;
float: right; /*plaats object rechts.*/
}

p { 
 font-size: medium; /*Tekstgrootte.*/
}

#game{
  margin: 20px;
}


footer {
   position: fixed; /*Vaste plaats voor positie van object*/
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(128, 167, 61, 0.684);
   color: white;
   text-align: center;
}


#CMYmodelimg{
float: right;
}


#tafeltennisimg{
float: right;
margin-right: 75px;
margin: 30px;
}

#ASCII-tabelimg{
float: right;
}



#invoer-verwerking-uitvoerimg{
  border-bottom-right-radius: 5%; /*Ronding van een specifieke rand in procenten.*/
  border-top-right-radius: 5%;
  margin-left: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 200px;
  background-color: #30938486;
  border-radius: 30px;
  
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgba(128, 167, 61, 0.684);
  color: white;
  border-radius: 30px;
  transition-duration: 750ms;
}



#visGIF{
float: left;
margin-left: 75px;
margin: 10px;
}

#RGBimg{
float: left;
margin: 5px;
}

#bitmap-vectorimg{
  float: right;
  margin-right: 30px;
  margin: 20px;
}

#lossyvslosslessimg{
float: right;
margin-right: 30px;
margin: 20px;
}

